{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "proseWrap": "preserve",
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "singleAttributePerLine": false,

  "importOrder": [".vue$", ".tsx$", "."],
  "importOrderSeparation": true
}
